body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    background-color: #f8f4dd;
    position: relative;
    overflow: auto;
}

header {
    position: relative;
    background-color: #a82810;
    height: fit-content;
    width: 100%;
    padding-top: 5px;
}

#top-nav h1 {
    font-size: 32pt;
    margin: 10px 0;
}

#top-nav {
    text-align: center;
    text-transform: uppercase;
}

#bottom-nav {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    height: 50px;
    background-color: #dcceb5;
}

#bottom-nav .logo {
    float: left;
    width: 50px;
    padding-right: 50px;
}

#bottom-nav .nav-bar {
    float: left;
}

.nav-links {
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
}

.nav-item {
    padding: 0px 25px;
    display: block;
    float: left;
    list-style: none;
    font-size: 16pt;
}

.nav-item a {
    text-decoration: none;
}

#bottom-nav .nav-item a {
    color: #a82810;
}

.menu-nav .nav-item a {
    color: #f8f4dd;
}

.nav-item a:hover {
    font-weight: bold;
}

#restaurant {
    width: 100%;
}

#restaurant-description {
    text-align: center;
    margin: 75px 0;
    height: fit-content;
}

#restaurant-description h2 {
    text-transform: uppercase;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #a82810;
    height: 110px;
    padding: 15px 0;
    color: #dcceb5;
}

#operating-hours {
    float: left;
    margin-left: 30%;
    text-align: center;
}

#operating-hours h2 {
    font-weight: bold;
    margin: 5px 0;
}

#operating-hours table {
    color: #f8f4dd;
}

#operating-hours th {
    text-align: right;
}

#operating-hours td {
    text-align: left;
}

#operating-hours tr {
    margin: 5px 0;
}

#contact-us {
    float: right;
    margin-right: 30%;
    text-align: center;
}

#contact-us h2 {
    font-weight: bold;
    margin: 5px 0;
}

#contact-us address {
    font-style: normal;
    color: #f8f4dd;
}

.menu-nav {
    padding: 5px 0;
    height: 50px;
}

.menu-nav .logo {
    float: left;
    width: 50px;
    margin-left: 30%;
    margin-right: 25px;
}

.menu-nav .nav-bar {
    float: left;
}

.menu-nav h1 {
    font-size: 18pt;
    text-transform: uppercase;
    margin: 10px 0;
}

.menu {
    counter-reset: items;
}

.menu-item {
    display: inline-block;
    margin: 30px 4.5%;
    width: 450px;
    height: 500px;
    position: relative;
    font-size: 14pt;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 1px solid gray;
    counter-increment: items;
}

.menu-item-header {
    height: 50px;
    background-color: #a82810;
    border-radius: 10px 10px 0 0;
}

.menu-item-footer {
    height: 50px;
    width: 100%;
    background-color: #a82810;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.menu-item-name,
.menu-item-index {
    float: left;
    margin: 10px;
}

.menu-item-name {
    font-weight: bold;
}

.menu-item-index::before {
    content: counter(items);
}

.menu-item-price {
    float: right;
    margin: 10px;
}

.menu-item-img {
    width: 450px;
    height: 400px;
}